---
import MainLayout from "@layouts/MainLayout.astro";
import { siteConfig } from "src/config/site-config";
import "../../styles/global.css";
import { getCollection } from "astro:content";
import AuthorCard from "@components/AuthorCard.astro";

const authors = await getCollection("author");

---
<MainLayout title="Página de autores">
    <section class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semibold text-gray-200 capitalize lg:text-4xl">
            Autores
        </h1>
        {siteConfig.title}
    </section>

    {
        authors.map( author => <AuthorCard author={author} /> )
    }

    <!-- Author card -->
    <section class="grid grid-cols-1 sm:grid-cols-2">


    </section>
    
</MainLayout>
