---
import BlogPost from "@components/BlogPost.astro";
import { siteConfig } from "../config/site-config";
import MainLayout from "@layouts/MainLayout.astro";

//Definiendo la interfaz de un post
interface Post {
	path: string;
	
}

const posts = import.meta.glob('./posts/*.{md,mdx}');
const postEntries = Object.entries(posts);
const postPromises = postEntries.map(([path, resolver]) => resolver().then((mod) => {
	if (typeof mod === 'object' && mod !== null && 'default' in mod) {
		return { path, ...(mod as {default: object}). default };
	}
	throw new Error(`El módulo en ${path} no tiene una exportación por defecto`);
})
);

const resolvedPosts: Post[] = await Promise.all(postPromises);
---

<MainLayout title="Mi primer blog en Astro">
<!-- component -->
<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 
		class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
		>{siteConfig.title}
	</h1>

        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
			{
				resolvedPosts.map((post: any) => <BlogPost {...post} />)
			}

            
        </div>
    </div>
</section>
</MainLayout>
	

