---
import MainLayout from "@layouts/MainLayout.astro";
import { Image, Picture } from "astro:assets";


import post05Img from '@images/post-05.png';

---


<MainLayout title="Imágenes">

    <h1 class="text-5xl text-white">Imágenes</h1>
    <img 
    loading="eager"
    src="/assets/images/post-05.png"
    width="250"
    height="250" />


    <div style={{
        height: "3000px",
        }}>

    </div>

    <Image
    loading="lazy"
    src={post05Img}
    quality="low"
    alt="Post 01"
    width="250" 
    height="250" 
    />
    <Image
    loading="lazy"
    src={post05Img}
    quality="high"
    alt="Post 01"
    width="250" 
    height="250" 
    />
    <Image
    loading="lazy"
    format="jpeg"
    src={post05Img}
    quality="high"
    alt="Post 01"
    width="250" 
    height="250" 
    />
    <Picture
    loading="lazy"
    formats={["webp", "avif", "jpeg"]}
    src={post05Img}
    quality="high"
    alt="Post 01"
    width="250" 
    height="250" 
    />
</MainLayout>