---
import { ClientRouter } from 'astro:transitions';

interface Props {
  title?: string
}

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link
    rel="alternate"
    type="application/rss+xml"
    title="El Blog de Pichu"
    href={new URL("rss.xml", Astro.site)}
/>
    <ClientRouter />
</head>
<body class="bg-gray-900">
    <main class="mb-10 max-w-5xl m-auto px-5 md:px-2 py-2">
    <slot />
    </main>
    
</body>
</html>
